
// HEX Color
$white: #ffffff;
$primary-color: #12295d;
$secondary-color: #483062;
$tertiary-color: #0071b8;
$text-color: #222222;
$details-color: #666666;
$score-bg-color: #f23a1d;
$score-text-color: $white;